@charset "utf-8";

* {
	padding:0px;
	margin:0px;
}
.letter {
	float: left;
	font-size: 3.25em;
	font-family: Georgia;
	line-height: 80%;
	padding-top: 4px;
	padding-right: 5px;
	padding-left: 3px;
}
a {
	text-decoration:none;
	color:#39F;
}
ol li {
	padding-top: 5px;
	margin-left: 20px;
	list-position: outside;
}
h3 {
	font-weight: normal;
	font-size: 25px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E0EFFF;
}
.top5 h3 {
	font-weight: normal;
	font-size: 25px;
	padding-top:5px;
	border:none;
	padding-bottom:10px;
	color:#666;
	}
.mainImg {
	padding: 10px;
/*	border: 2px solid #5888F6;*/
	margin-bottom:55px;
}
.offer {
	width:960px;
	margin-left:auto;
	margin-right:auto;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	font-weight:normal;
	line-height:28px;
	font-size:42px;
	color:#4578e7;
}
.af-form-wrapper .af-element .previewLabel {
	color:#CD2B9D;
	padding-right:10px;
	font-weight:700;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
line-height: 23px;
color: #252525;
}
.container {
	width: 100%;
	background-repeat: repeat;
	background-image: url(http://d1vq1p4wbzam8w.cloudfront.net/tv/marco/html/womensday/crossword.png);
	height: auto;
}

.header {
	width: 100%;
	height: 140px;
	background-color: #FFF;
	background-repeat: repeat-x;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #39F;
}

#logoImg {
	background: url(../images/newlogo.jpg) no-repeat center;
	height: 100px;
	width: 100%;
	margin-top: 10px;
	text-indent: -99999px;
	display: block;
}

.logo {
	width: 1000px;
	text-indent: -99999px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-image: /*url(http://d1vq1p4wbzam8w.cloudfront.net/tv/marco/html/womensday/logo.gif);
	background-position: center;*/
	height: 120px;
	background-repeat: no-repeat;
	padding-top: 15px;
}

.nav {
	height: 65px;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #39F;	
	font-family: 'Raleway', sans-serif;
	background-color:#FFF;
}
.nav-inner {
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	height:65px;	
}

.menu-box {
	width: 200px;
	height: 100%;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #39F;
}

/*--------------------------DROP DOWN MENU OPTIONS-----------------------------------*/

ul.menu {
    list-style-type:none;
    margin:0;
    padding:20px 0 0 6px;
    position:relative;
    float: right;
	
}
ul.menu li {
    display:block;
    height: 50px;
    float:left;
    position:relative;
    margin:0 9px 0 0;
    padding:0;
	width:140px;
	
}
li.drop a {
	color:#333;
	line-height:30px;
}
ul.menu li ul li a {
	color:#ffffff;
}

ul.menu li:hover {
	width:140px;
	color:#fffff;
}

.big-text {
	font-size:1.5em;
}
ul.menu li.drop span.toggle {
    display:block;
    float:left;
    width:31px;
    height:30px;
    background:transparent url("http://d1vq1p4wbzam8w.cloudfront.net/tv/marco/html/womensday/toggle1.png") no-repeat 0 -30px;
    padding:0;
    margin:0 7px 0 0;
	color:#ffffff;
	cursor:pointer;
}
ul.menu li.drop:hover span.toggle, ul.menu li.drop.current span.toggle {
    background-position:0px 0px;
}

ul.menu li.drop:hover ul {-webkit-border-radius: 5px;
border-radius: 5px;
    display:block;
    z-index:1;
	position: absolute;
    z-index:100;
}


ul.menu li ul {
    display:none;
    position:absolute;
    width: 200px;
    top:30px;
    left:0;
    list-style-type:none;
   padding-top:10px;
    background:#39F;
    filter: alpha(opacity=75); /* internet explorer */
margin-top:18px;
margin-left:-50px;
}

ul.menu li ul li {
	float: none;
	height: auto;
	margin: 0;
	filter: alpha(opacity=100); /* internet explorer */
	color: #ffffff;
	width:200px;
}
.drop ul li a {
	width:200px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #FFF;

}
ul.menu li ul li a {
	padding-left:5px;
	padding-right:5px;
	padding-top:10px;
	display:block;
}

/*-----------------------------------END DROP DOWN MENU OPTION-----------------------*/

.social {
	width: 290px;
	height: 47px;
	padding-top: 18px;
	padding-left: 55px;
	padding-right: 30px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999;
}
.email {
	width:400px;
	height:100%;
}

/*--------------------------------EMAIL INPUT STYLING--------------------------------*/
#contact-area {
	width: 400px;
	margin-top: 18px;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
/*	width: 300px;*/
	font-family: 'Raleway', sans-serif;
	font-size: 1.0em;
	border: 1px solid #CD2B9D;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 60px;
	 font-size: 0.87em;
	/*float: right;*/
}

#contact-area input.submit-button {

	 font-size: 0.87em;
	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;

	font-style:normal;
	height:30px;
	cursor:pointer;
	width:80px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
	margin-left:5px;
	/*float: right;*/
}

/*-----------------------------END EMAIL INPUT STYLING------------------------------*/
.main {
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	
	
}

.content {
	width:675px;
	/*margin-left:35px;*/
	background-color:#ffffff;
	padding-left:30px;
	padding-right:30px;
	padding-bottom:30px;
	margin-bottom:30px;
	padding-top:5px;
	border-top: 2px solid #DDD;
border-bottom: 2px solid #DDD;

-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0 0 15px rgba(0,0,0,0.15);
box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.sidebar {
	width:245px;
	
	margin-left:20px;
}
.multimedia1 {
	margin-bottom:15px;
	padding:8px;

}
.multimedia2 {
	margin-bottom:10px;
	margin-top:10px;

	padding:8px;
}
.before-after {
	margin-bottom:10px;
	background-color:#ececec;
	padding:8px;
}
.fl {
	float:left;
}

.fr {
	float:right;
}
.highlight {
	background: #d53cbe;
color: #FFF;
font-size: 18px;
padding: 7px 10px;
text-transform: uppercase;
margin-bottom:40px;
}
.content h1 {
	font-size:33px;
	line-height:40px;
	font-weight:normal;
}
.post-date {
	font-family: georgia, sans-serif;
text-align: center;
padding-bottom: 30px;

}
.post-author {
	text-align: center;
	color: #CD2B9D;
	margin-bottom: 5px;
	font-style: italic;
	padding-top: 15px;
	width: 700px;
	margin-right: auto;
/*	margin-bottom: 20px;*/
	margin-left: auto;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #5888F6;
	font-family: georgia, sans-serif;
	font-size: 18px;
	font-weight: 100;
}
.price {
	text-align: center;
	color: #CD2B9D;
	font-family: georgia, sans-serif;
	font-size: 15px;
	font-weight: 700;
}
.content img {
display: block;
margin: 0 auto;
}
.testimonial {
	width:215px;
	padding:5px;
	margin-top:-15px;
}
.sidebar img {
display: block;
margin: 0 auto;
}
.sidebar p {
	padding:5px;
}
.clear {
	clear:both;
}

/*COMMON STYLES*/
.fullWidth a {
color: #3B5998!important;
}
h1 {
	font-size:2.5em;
	padding-top:20px;

}
.center {
	position: relative;
margin-top: 60px;
	text-align:center;
/*	border: 4px solid #9AB7F9;
border-radius: 7px;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;*/
}
.center h2 {
	position: absolute;
	top: -45px;
	left: 16px;
	overflow: hidden;
	text-indent: -9999em;
	display: block;
	height: 90px;
	width: 315px;
	background-image: url(http://d1vq1p4wbzam8w.cloudfront.net/tv/marco/html/womensday/hdr-new-recipe-finder-module.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.small p {
	padding-left: 5px;
	line-height: 140%!important;
	font-size: 90%;
}

.fullWidth {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
	margin-bottom: 10px;
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 15px rgba(0,0,0,0.15);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 30px;
}
.rightimgcaption {
	width: 210px;
	font-size: 14px;
	line-height: 23px;
	text-align: left;
	padding-top: 10px;	/*margin: 5px;
	margin-right: 0;	border: 1px dotted #000;*/

}
.offer {
	width:960px;
	margin-left:auto;
	margin-right:auto;
}
.pageheader {
	text-align: center;
	font: 16px georgia, sans-serif;
	font-style: italic;
	padding-top: 20px;
	width: 405px;
	border-top: 1px dotted #C7C7C7;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	line-height:25px;
}
.small p {
	padding-left: 5px;
	line-height: 140%!important;
	font-size: 115%;
	padding-right:5px;
}
hr {
display: block;
height: 1px;
border: 0;
border-top: 1px dotted #CCC;
margin: 0;
padding: 0;
}
.imgInline {
	float:left;
	display:inline;
	padding-right:20px;
	margin-top:3px;
}
.imgInline2 {
	display:inline;
	margin-top:3px;
}
.subjectheader {
	font-size: 26px!important;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align:center;
}
.celebcaption {
	width: 600px;
	margin: auto;
	text-align: center;
}

.testdiaryp {
    float: left;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 10px;
    width: 400px;
}
.pfirst {
	margin-top: 10px;
}


.testdiaryimg {
	float: left;
	width: 150px;
	padding-right:5px;
}
.day img {
	padding-left:10px;
	padding-bottom:5px;
}
.day {
	background-image: url(../images/bubble.jpg);
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-right: 5px;
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom:20px;
}
.day h2 {
	color:#CD2B9D;
	text-transform:uppercase;
	padding-bottom:5px;
	text-align:right;
	padding-right:15px;
}
.day-text {
	margin-left: 14px;
	width: 587px;
	background-color: #CCC;
	background-image: url(../images/bubble-bottom.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
}

.day-text hr {
display: block;
height: 1px;
border: 0;
border-top: 1px dotted #CD2B9D;
margin: 0;
padding: 0;
}
.step {
	border: thin solid #CCC;
	margin-top: 15px;
	background-image: url(http://d1vq1p4wbzam8w.cloudfront.net/tv/marco/html/womensday/step1.jpg);
	background-repeat: no-repeat;	
	padding-left:70px;
	height:250px;
	padding-top:20px;
}
.step p {
	font-size:120%;
}

.step2 p {
	font-size:120%;
}
.step #product1 {
	padding-top:30px;
	padding-right:20px;
}
.step h2 {
	padding-left:20px;
	color:#333;
}
.step2 {
	border: thin solid #CCC;
	margin-top: 15px;
	background-image: url(http://d1vq1p4wbzam8w.cloudfront.net/tv/marco/html/womensday/step2.jpg);
	background-repeat: no-repeat;
	padding-left: 70px;
	height: 280px;
	background-position: 0px 5px;
	padding-top:10px;
}
.step2 h2 {
	padding-left:20px;
	color:#333;
}
.step2 #product2 {
	padding-right:20px;
	padding-left:10px;
}
.pullleft {
	float: left;
}
.pullright {
	float: right;
}
#rvtl {
	padding-left:30px;
	padding-top:20px;
	padding-right:35px;
}
#equinox {
	padding-left:50px;

	padding-right:35px;
}
.footer {
	width: 100%;
	background-color: #4A1C4A;
}
.footer p {
	width:900px;
	margin-left:auto;
	margin-right:auto;
	color:#fff;
	text-align:center;
	line-height:99%;
	padding-top:10px;
	padding-bottom:10px;
}
/*COMMON STYLES END*/


/*CONTACT FORM*/
#af-form-2095245082 .af-body .af-textWrap{width:70%;display:block;float:right;}
#af-form-2095245082 .af-body input.text, #af-form-2095245082 .af-body textarea{background-color:#FFFFFF;border-color:#CCCCCC;border-width:2px;border-style:inset;color:#000000;text-decoration:none;font-style:normal;font-weight:normal;font-size:inherit;font-family:inherit;}
#af-form-2095245082 .af-body input.text:focus, #af-form-2095245082 .af-body textarea:focus{background-color:inherit;border-color:#CCCCCC;border-width:2px;border-style:inset;}
#af-form-2095245082 .af-body label.previewLabel{display:block;float:left;width:25%;text-align:left;color:#CD2B9D;text-decoration:none;font-style:normal;font-weight:normal;font-size:20px;font-family:inherit;}
#af-form-2095245082 .af-body{padding-bottom:15px;padding-top:5px;padding-right:25px;background-repeat:no-repeat;background-position:inherit;background-image:none;color:#000000;font-size:12px;font-family:, serif;}
#af-form-2095245082 .af-quirksMode{padding-right:15px;padding-left:15px;}
#af-form-2095245082 .af-standards .af-element{margin-right:20px;}
#af-form-2095245082 .buttonContainer input.submit{color:#000000;text-decoration:none;font-style:normal;font-weight:normal;font-size:inherit;font-family:inherit;}
#af-form-2095245082 .buttonContainer input.submit{width:auto;}
#af-form-2095245082 .buttonContainer{text-align:center;}
#af-form-2095245082 button,#af-form-2095245082 input,#af-form-2095245082 submit,#af-form-2095245082 textarea,#af-form-2095245082 select,#af-form-2095245082 label,#af-form-2095245082 optgroup,#af-form-2095245082 option{float:none;position:static;margin:0;}
#af-form-2095245082 div{margin:0;}
#af-form-2095245082 form,#af-form-2095245082 textarea,.af-form-wrapper,.af-form-close-button,#af-form-2095245082 img{float:none;color:inherit;position:static;background-color:none;border:none;margin:0;padding:0;}
#af-form-2095245082 input,#af-form-2095245082 button,#af-form-2095245082 textarea,#af-form-2095245082 select{font-size:100%;}
#af-form-2095245082 select,#af-form-2095245082 label,#af-form-2095245082 optgroup,#af-form-2095245082 option{padding:0;}
#af-form-2095245082,#af-form-2095245082 .quirksMode{width:250px;}
#af-form-2095245082.af-quirksMode{overflow-x:hidden;}
#af-form-2095245082{background-color:transparent;border-color:inherit;border-width:none;border-style:none;}
#af-form-2095245082{display:block;}
#af-form-2095245082{overflow:hidden;}
.af-body .af-textWrap{text-align:left;}
.af-body input.image{border:none!important;}
.af-body input.submit,.af-body input.image,.af-form .af-element input.button{float:none!important;}
.af-body input.text{width:100%;float:none;padding:2px!important;}
.af-body.af-standards input.submit{padding:4px 12px;}
.af-clear{clear:both;}
.af-element label{text-align:left;display:block;float:left;}
.af-element{padding:5px 0;}
.af-form-wrapper{text-indent:0;}
.af-form{text-align:left;margin:auto;}
.af-quirksMode .af-element{padding-left:0!important;padding-right:0!important;}
.lbl-right .af-element label{text-align:right;}

/*top 5 */

.top5img {
	width: 90px;
	height: 90px;
	border: 1px solid #DDD;
	line-height: 20px;
	padding-left: 3px;
	padding-right: 3px;
	margin-right: 20px;
	
}
.top5img img{
	width:90px;
	height: 90px;
	display: block;
	margin-left:auto;
	margin-right:auto;
}
.top5copy {
	width: 800px;
	text-align: left;
	padding-left: 80px;
	padding-right: auto;
}
.one {
	background-image: url(http://d1vq1p4wbzam8w.cloudfront.net/tv/marco/html/womensday/5b.jpg);
	background-repeat: no-repeat;
	background-position: bottom left;
}
.two {
	background-image: url(http://d1vq1p4wbzam8w.cloudfront.net/tv/marco/html/womensday/4b.jpg);
	background-repeat: no-repeat;
	background-position: bottom left;
}
.three {
	background-image: url(http://d1vq1p4wbzam8w.cloudfront.net/tv/marco/html/womensday/3b.jpg);
	background-repeat: no-repeat;
	background-position: bottom left;
}
.four {
	background-image: url(http://d1vq1p4wbzam8w.cloudfront.net/tv/marco/html/womensday/2b.jpg);
	background-repeat: no-repeat;
	background-position: bottom left;
}
.five {
	background-image: url(http://d1vq1p4wbzam8w.cloudfront.net/tv/marco/html/womensday/1b.jpg);
	background-repeat: no-repeat;
	background-position: bottom left;
}
.top5 {
	margin-left:20px;
	margin-top:15px;
	text-align: left;
}

.smallPar {
	width:620px;
	text-align:left;
	padding-left:30px;
	padding-right:40px;
}
.intro {
	width:910px;
	margin-left:auto;
	margin-right:auto;
	background-color:#ededed;
}
.blurb {
	width:900px;
	margin-left:10px;
	padding-bottom:15px;
	text-align:center;
}